<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <title>SNEAKERS</title>
</head>

<body>
    <section id="banner">
        <a href="/shop"><button>Shop now</button></a>
    </section>

    <section id="feature" class="section-p1">
        <div class="fea-box">
            <img src="./img/feature/f1.png" alt="">
            <h6>Free Delivery</h6>
        </div>
        <div class="fea-box">
            <img src="./img/feature/f2.png" alt="">
            <h6>Online Order</h6>
        </div>
        <div class="fea-box">
            <img src="./img/feature/f3.png" alt="">
            <h6>Save Money</h6>
        </div>
        <div class="fea-box">
            <img src="./img/feature/f4.png" alt="">
            <h6>Promotions</h6>
        </div>
        <div class="fea-box">
            <img src="./img/feature/f5.png" alt="">
            <h6>Happy sell</h6>
        </div>
        <div class="fea-box">
            <img src="./img/feature/f6.png" alt="">
            <h6>24/7 Support</h6>
        </div>
    </section>

    <section id="product1" class="section-p1">
        <h2>Sản Phẩm Nổi Bật</h2>
        <p>Những mẫu được ưa chuộn nhất</p>
        <div class="pro-container">
            {{#each products}}
            <div class="pro">
                <div class="hovered">
                <img src="{{this.img}}" alt="">
                <a href="/shop/{{this.slug}}"><button >Quick View</button></a>
                </div>
                <div class="des">
                    <span>{{this.cate}}</span>
                    <h5>{{this.title}}</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>{{this.price}} VND</h4>
                </div>
                <i onclick="addToCart({{this.id}})" class="fas fa-shopping-cart cart"></i>             
            </div>
            {{/each}}
        </div>
    </section>

    <a href="/shop" style="text-decoration: none;"><section id="sm-banner" class="section-p1">
        <div class="banner-box">
            <h4>Crazy sale</h4>
            <h2>buy One get One</h2>
            <button class="white">Learn More</button>
        </div>
        <div class="banner-box banner-box2">
            <h4>Black Friday</h4>
            <h2>Upcomming</h2>
            <button class="white">Learn More</button>
        </div>
    </section>

    <section id="banner3">
        <div class="banner-box">
            <h2>Seasonal Sale</h2>
            <h4>Adidas Collection -40% OFF</h4>
        </div>
        <div class="banner-box banner-box2">
            <h2>Seasonal Sale</h2>
            <h4>Nike Collection -30% OFF</h4>
        </div>
        <div class="banner-box banner-box3">
            <h2>Seasonal Sale</h2>
            <h4>Zeezy Collection -50% OFF</h4>
        </div>
    </section></a>
    <script>
        function detailPage(){
        location.assign("/product-detail");
    }
    </script>
</body>

</html>