<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/shop.css">
    <title>SNEAKERS</title>
</head>
<body>
    <section id="shop-banner">
        <h2>#stayhome</h2>
        <p>Tiết kiệm hơn với nhiều ưu đãi hấp dẫn</p>
        <p>Hỗ trợ giao hàng toàn quốc</p>
    </section>

     <section id="product1" class="section-p1">
        <h2>Cửa hàng</h2>
        <p>Chất lượng giày, ưu tiên của chúng tôi</p>
        <div class="pro-container">
            {{#each products}}
            <div class="pro">
                <div class="hovered">
                <img src="{{this.img}}" alt="">
                <a href="/shop/{{this.slug}}"><button >Quick View</button></a>
                </div>
                <div class="des">
                    <span>{{this.cate}}</span>
                    <h5>{{this.title}}</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>{{this.price}} VND</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>              
            </div>
            {{/each}}
        </div>
    </section> 
    <section id="pagination">
        <a href="shop">1</a>
        <a href="shop2">2</a>
        <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
    </section>
    <script src="script.js"></script>
    <script>
        let cart = document.getElementsByClassName('cart-container')[0]
        let basket = JSON.parse(localStorage.getItem("data")) || []
        let totalItems = document.getElementById('total-price')
        
        function addToCart(id) {
        var search = basket.find((x)=> x.id === id)
        if(search === undefined) {
            basket.push({
            id: id,
            item: 1,
            })
        }else {
            search.item += 1
        }
        calculation()
        updateItems(id)
        localStorage.setItem("data", JSON.stringify(basket))
        }

        function decrement(id) {
        var search = basket.find((x)=> x.id === id)
        if(search.id === 0) return
        else {
            search.item -= 1
        }
        updateItems(id)
        basket = basket.filter((x) => x.item !== 0)
        generateCart()
        calculation()
        localStorage.setItem("data", JSON.stringify(basket))
        }

        function updateItems(id) {
        var search = basket.find((x) => x.id === id)
        document.getElementById(id).value = search.item
        calculation()
        total()
        }
        function calculation() {
        var cartIcon = document.getElementById('cart-amount')
        cartIcon.innerHTML = basket.map((x) => x.item).reduce((x,y) => x+y,0)
        localStorage.setItem("data", JSON.stringify(basket))
        }

        // cart
        function generateCart() {
        if(basket.length !== 0) {
            return cart.innerHTML = basket.map((x) => {
            var search = product.find((y) => y.id === x.id ) || []
            return `
            <div id="cart-id-${search.id}" class="cart-box">
            <div>
            <img src="${search.img}" alt="">
            </div>
            <div class="des">
                <span class="cart-pro-category">${search.cate}</span>
                <h5 class="cart-pro-title">${search.title}</h5>
                <div class="input-number">
                <button onclick="decrement(${x.id})" class="cart-btn">-</button>
                <input id="${search.id}" type="number" value="${x.item}" class="cart-quantity">
                <button onclick="addToCart(${x.id})" class="cart-btn">+</button>
                </div>
                <h4 class="cart-price">${search.price} VND</h4>
            </div>
            <i onclick="removeItem(${search.id})" class="fas fa-trash trash"></i>
        </div>
            `
            })
        }else {
            cart.innerHTML = ``
        }
        }

        function removeItem(id) {
        basket = basket.filter((x => x.id !== id))
        generateCart()
        calculation()
        total()
        localStorage.setItem("data", JSON.stringify(basket))
        }

        function total() {
        if(basket.length !== 0) {
            let amount = basket.map((x) => {
            let search = product.find((y) => y.id === x.id ) || []
            let priceInt = parseFloat(search.price)
            return priceInt * x.item
            }).reduce((x,y) => x+y,0)
            totalItems.innerText = `${(amount*1000).toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}`
        }else return
        }

        if(document.readyState == 'loading') {
        document.addEventListener('DOMContentLoaded', ready);
        }else {
        ready();
        }

        function ready() {
        generateShop()
        generateNewShop()
        calculation()
        total()
        generateCart()
        }
    </script>
</body>
</html>